body{
    text-align: center;
<<<<<<< HEAD
    font-family: helvetica;
    color: brown;
=======
    font-family: serif;
    color: white;
>>>>>>> cabecera
    background-color:blue;
}

#cabecera{
    background-color: chartreuse;
    color: cornsilk;
}

h1{
    color: crimson;
}