body{
    text-align: center;
    font-family: serif;
    color: white;
    background-color: black;
}

#cabecera{
    background-color: rgb(41, 82, 0);
    color: cornsilk;
    font-family: cursive;
}

#footer{
    background-color: rgb(18, 6, 37);
    color: rgb(230, 32, 144);
    font-family:'Times New Roman';
    padding: 0.5%;
}

h1{
    color: crimson;
}