body{
    text-align: center;
    font-family: helvetica;
    color: brown;
    background-color: darkgray;
}

#cabecera{
    background-color: chartreuse;
    color: cornsilk;
}

h1{
    color: crimson;
}